@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    option:checked{
        background-color: "#FF3C20";
        color: #fff;
    }
    * {
        font-family: 'Rubik','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
}